arrow==0.12.1
dash==0.21.0
dash-core-components==0.20.2
dash-html-components==0.9.0
dash-renderer==0.11.3
matplotlib==2.1.2
networkx==2.1
nltk==3.2.5
numpy==1.14.0
pandas==0.22.0
plotly==2.4.1
spacy==2.0.9
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.5.0
SQLAlchemy==1.2.1
tqdm==4.19.6
xgboost==0.7